<nav>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="left-nav">
        <img class="icon-menu" src="icon-menu.svg" alt="" />
        <img src="logo.svg" alt="" />
        <div class="nav-elem">Collection</div>
        <div class="nav-elem">Men</div>
        <div class="nav-elem">Women</div>
        <div class="nav-elem">About</div>
        <div class="nav-elem">Contact</div>
      </div>
      <div class="right-nav">
        <img src="icon-cart.svg" alt="" />
        <img class="nav-image" src="image-avatar.png" alt="" />
      </div>
    </div>
    <div class="thin-line"></div>
  </div>
</nav>
