<nav>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="left-nav">
        <img class="icon-menu" src="icon-menu.svg" alt="" />
        <img src="logo.svg" alt="" />
        <div class="nav-elem">Collection</div>
        <div class="nav-elem">Men</div>
        <div class="nav-elem">Women</div>
        <div class="nav-elem">About</div>
        <div class="nav-elem">Contact</div>
      </div>
      <div class="right-nav">
        <img src="icon-cart.svg" alt="" />
        <img class="nav-image" src="image-avatar.png" alt="" />
      </div>
    </div>
    <div class="thin-line"></div>
  </div>
</nav>

<div class="flex-center">
  <div class="wrapper">
    <div class="content">
      <section class="left-side-section">
        <img class="product-image" src="image-product-1.jpg" alt="" />
        <div class="multiple-thumbnail-images">
          <img
            class="thumbnail-img"
            src="image-product-1-thumbnail.jpg"
            alt=""
          />
          <img
            class="thumbnail-img"
            src="image-product-2-thumbnail.jpg"
            alt=""
          />
          <img
            class="thumbnail-img"
            src="image-product-3-thumbnail.jpg"
            alt=""
          />
          <img
            class="thumbnail-img"
            src="image-product-4-thumbnail.jpg"
            alt=""
          />
        </div>
      </section>
      <section class="right-side-section">
        <h2>Sneaker Company</h2>
        <h1>Fall Limited Edition Sneakers</h1>
        <p>
          These low-profile sneakers are your perfect casual wear companion.
          Featuring a durable rubber outer sole, they'll withstand everything
          the weather can offer.
        </p>
        <div class="price-section">
          <div class="important-price">
            <p class="main-price">$125.00</p>
            <p class="discount-price">50%</p>
          </div>
          <div class="old-price">$250.00</div>
        </div>
        <div class="action-section">
          <div class="counter">
            <button class="counter-btn" (click)="setCounter(count - 1)">
              <p class="text-counter">-</p>
            </button>
            <span class="count"> {{ count }} </span>
            <button class="counter-btn" (click)="setCounter(count + 1)">
              <p class="text-counter">+</p>
            </button>
          </div>
          <button class="add-cart-btn">
            <img src="icon-cart.svg" alt="" />
            <p class="add-cart-text">Add to cart</p>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
