<app-nav></app-nav>

<div class="flex-center">
  <div class="wrapper">
    <div class="content">
      <section class="left-side-section">
        <img class="product-image" src="image-product-1.jpg" alt="" />
        <div class="multiple-thumbnail-images">
          <img
            *ngFor="let image of imagesThumbnail; let i = index"
            class="thumbnail-img"
            [src]="image"
            [class.selected]="selectedImageIndex === i"
            (click)="selectImage(i)"
            alt="Image {{ i }}"
          />
        </div>
      </section>
      <section class="right-side-section">
        <h2>Sneaker Company</h2>
        <h1>Fall Limited Edition Sneakers</h1>
        <p>
          These low-profile sneakers are your perfect casual wear companion.
          Featuring a durable rubber outer sole, they'll withstand everything
          the weather can offer.
        </p>
        <div class="price-section">
          <div class="important-price">
            <p class="main-price">$125.00</p>
            <p class="discount-price">50%</p>
          </div>
          <div class="old-price">$250.00</div>
        </div>
        <div class="action-section">
          <div class="counter">
            <button class="counter-btn" (click)="setCounter(count - 1)">
              <p class="text-counter">-</p>
            </button>
            <span class="count"> {{ count }} </span>
            <button class="counter-btn" (click)="setCounter(count + 1)">
              <p class="text-counter">+</p>
            </button>
          </div>
          <button class="add-cart-btn">
            <img src="icon-cart.svg" alt="" />
            <p class="add-cart-text">Add to cart</p>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Lightbox -->
<div class="lightbox-wrapper" *ngIf="lightboxImage" (click)="closeLightbox()">
  <div class="lightbox">
    <button
      class="lightbox-btn"
      (click)="selectImage(selectedImageIndex - 1)"
      *ngIf="selectedImageIndex && imagesProduct[selectedImageIndex - 1]"
    >
      <
    </button>
    <img [src]="lightboxImage" alt="Image sélectionnée" />
    <button
      class="lightbox-btn"
      (click)="selectImage(selectedImageIndex + 1)"
      *ngIf="
        selectedImageIndex !== null &&
        imagesProduct[selectedImageIndex + 1] !== undefined
      "
    >
      >
    </button>
  </div>
</div>
