h1 {
  color: hsl(220, 13%, 13%);
  font-weight: 900;
  font-size: 48px;
}

h2 {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  font-size: 21px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.left-side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-image {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 25px;
}

.multiple-thumbnail-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  cursor: pointer;
}

.multiple-thumbnail-images img.selected {
  border: 4px solid var(--color-primary);
  filter: grayscale(65%);
}

.multiple-thumbnail-images img:hover {
  transform: scale(1.1);
}

.thumbnail-img {
  border-radius: 25px;
}

.right-side-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.important-price {
  display: flex;
  gap: 1rem;
}

.main-price {
  font-size: 32px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.discount-price {
  background-color: hsl(220, 13%, 13%);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 0.5rem;

  display: flex;
  align-items: center;
}

.old-price {
  color: hsl(220, 14%, 75%);
  font-size: 16px;
  text-decoration: line-through;
}

.action-section {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.5rem;
}

.counter {
  background-color: hsl(223, 64%, 98%);
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
}

.counter-btn {
  border: none;
  background-color: transparent;
  padding: 1rem 1rem;
  cursor: pointer;
}

.add-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  border: none;
  padding: 1rem 1rem;
  border-radius: 10px;

  background-color: var(--color-primary);

  cursor: pointer;
}

.add-cart-btn:hover {
  transform: translateY(-2px);
}

/* Lightbox styles */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
  cursor: pointer;
}

.lightbox-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 999;

  width: 50px;
  height: 50px;

  padding-bottom: 2px;
}

.lightbox img {
  width: 600px;
  height: 600px;
  border: 5px solid white;
  border-radius: 10px;
  z-index: 1000;
}

@media (max-width: 1024px) {
  h1 {
    color: hsl(220, 13%, 13%);
    font-weight: 900;
    font-size: 30px;
  }

  h2 {
    color: hsl(219, 9%, 45%);
    font-weight: 700;
    font-size: 21px;
  }

  .nav-container {
    gap: 2rem;
    margin-inline: 20px;
    margin-top: 30px;
  }

  .right-side-section {
    margin-inline: 20px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 0rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0px;
  }

  .multiple-thumbnail-images {
    visibility: hidden;
    height: 0px;
  }

  .price-section {
    display: flex;
    justify-content: space-between;
  }

  .action-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
